[Unit]
Description=MinMon monitoring and alarming daemon
After=local-fs.target network-online.target

[Service]
ExecStart=/usr/bin/minmon /etc/minmon.toml
Type=notify
Restart=on-failure

[Install]
WantedBy=multi-user.target
