name: Tests

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get -y install libssl-dev libsystemd-dev libsensors-dev

      - name: Cache cargo dependencies
        id: cache-cargo
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('Cargo.lock') }}

      - name: Formatting
        run: cargo fmt --check --all

      - name: Clippy
        run: cargo clippy --all-targets --all-features

      - name: Build
        run: cargo build --all-features --all-targets

      - name: Run tests
        run: cargo test --all-features

      - if: steps.cache-cargo.outputs.cache-hit != 'true'
        name: Clean cargo dependencies
        run: cargo clean -p minmon
